<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b16efeb3be.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>GoService</title>
</head>

<body>
    <header>
        <div class="arriba">
            <img class="logo" src="/images/combinado.png">
            <!-- Hamburguesa -->
            <div class="burger">
                <a href=""><i class="fas fa-bars"></i></a>
            </div>
        </div>
        <div class="abajo">
            <div class="buscador">
            <i class="fas fa-search"></i><input class="input-buscar" type="text"  placeholder="Buscar en GoService...">
            </div>
            <div class="carrito">
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>
    </header>
    <main>
        <section>
            <article class="banner">
                <div class= "banner-izq">
                    <i class="fas fa-chevron-left"></i>
                </div>
                <div class="banner-center">
                    <img src="/images/plomeria.jpg" alt=""> 
                </div>
                <div class="banner-der">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </article>
        </section> 
        <section>
            <h1>Nuestros Servicios</h1>
            <article class="plomero">
                <!-- Imagen de plomeria-->
                <p>Plomero</p>
            </article>
            <article class="electricista">
                <!-- Imagen de electricista-->
                <p>Electricista</p>
            </article>
            <article class="limpieza">
                <!-- Imagen de limpieza-->
                <p>Limpieza</p>
            </article>

        </section>
    </main>
    <footer>
        <div class="final">
            <p>Todos los derechos reservados</p>
            <div class="redes">
                <a href="https://github.com/JorgePazA"><img src="/images/gitLogo.png" /></a>
                <a href="https://instagram.com"><img src="/images/instagramLogo.png"/></a>
                <a href="https://twiter.com"><img src="/images/twiterLogo.png" /></a>
            </div>
        </div>
    </footer>

</body>

</html>