@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: white;
}

h1{
    color:#FCA311;
    text-align: center;
    margin: 20px;
}

header .arriba{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #14213D;
    height: 50px;
}
header .arriba .logo {
  max-width: 35vw;
  max-height: 20vh;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

header .arriba .burger {
    border: solid black 1px;
    width: 40px;
    font-size: 22px;
    padding: 5px;
    margin-right: 10px;
    text-align: center;
  }

header .abajo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FCA311;
    height: 40px;
}

header .abajo .input-buscar {
    width: 180px;
    height: 25px;
    background: #000000;
    opacity: .7;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    padding-left: 5px;
}

header .abajo .carrito {
    font-size: 20px;
}

.banner {
    display: flex;
    height: 113px;
    background:#14213D;
    border: solid 3px black;
}

.banner-izq{
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    border-right: solid 3px black;
    width: 40px;
    font-size: 25px;

    
}

.banner-center {
    flex-grow: 1;
    overflow: hidden;

}

.banner-center img{
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.banner-der{
    font-size: 25px;
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    border-left: solid 3px black;
    width: 40px;
}

footer .final{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #FCA311;
    height: 27px;
    color: white;
    font-size: 12px;
    padding-right: 5px;
    padding-bottom: 2px;
}

footer .final .redes img{
    width: 15px;
}