@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}
a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: white;
}
h1{
    color:#FCA311;
    text-align: center;
    margin: 20px;
    font-size: 18px;
}
header .arriba{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #14213D;
    height: 50px;
}
header .arriba .logo {
  max-width: 100%;
  max-height: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}
header .arriba .burger {
    border: solid black 1px;
    width: 40px;
    font-size: 22px;
    padding: 5px;
    margin-right: 10px;
    text-align: center;
  }
header .abajo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FCA311;
    height: 40px;
}
header .abajo .input-buscar {
    width: 180px;
    height: 25px;
    background: #000000;
    opacity: .7;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    padding-left: 15%;
}
.buscador{
    position: relative;
}
.buscador i{
    position: absolute;
    left: 4%;
    top: 25%;
    z-index: 100;
    opacity: 0.3;
    color: #FCA311;
    font-size: 13px;
}
header .abajo .carrito {
    font-size: 23px;
}
.banner {
    display: flex;
    height: 113px;
    background:#14213D;
    border: solid 3px black;
}
.banner-izq{
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    border-right: solid 3px black;
    width: 40px;
    font-size: 25px;   
}
.banner-center {
    flex-grow: 1;
    overflow: hidden;
}
.banner-center img{
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}
.banner-der{
    font-size: 25px;
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    border-left: solid 3px black;
    width: 40px;
}
/* Main--------------------------------------------------------------------------- */
.servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
main section article p{
    color: #FCA311;
    font-size: 16px;
    margin: 10px;
}
.lista article i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #14213D;
    border: solid #14213D 1px;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    background-color: #FCA311;
    box-shadow: 5px 5px 20px -6px rgba(20,33,61,0.76);
}
.lista article{
    margin: 15px;
}
/* Estilos Carrito de Compras------------------------------------------------------- */
#servicios-añadidos{
    font-size: 20px;
}
.resumen-carrito{
    border: solid 0.5px rgb(218, 218, 218);
    margin: auto;
    width: 80vw;
    margin-bottom: 30px;
    box-shadow: 0px 0px 28px -14px rgba(0,0,0,0.75);
    padding: 10px;
}
.carrito-superior{
    position: relative;
    border-bottom: solid 0.5px rgb(218, 218, 218);
    padding-bottom: 10px;
}
.horas{
    color:black;
    font-size: 16px;
    margin-bottom: 20px;
}
.valor-servicio-con-iva{
    position: absolute;
    right: 0;
    top: -20px;
}
.valor-servicio{
    font-size: 18px;
    margin-bottom: 0;
}
.iva{
    color:rgb(153, 153, 153);
    margin-top: 0;
}
.titulo-arriba-carrito{
    font-size: 14px;
    margin-bottom: 0;
}
.texto-arriba-carrito, .hmm{
    color:rgb(83, 83, 83);
    font-size: 14px;
    margin-top: 0;
}
.caja-fecha{
    display:flex;
}
.hmm{
    padding-left: 20px;;
}
.carrito-inferior{
    position: relative;
    padding-top: 20px;
}
.inputs-is-carrito{
    display: flex;
    justify-content: flex-end;
    padding-right: 12px;
}
.inputs-is-carrito button{
    font-size: 8px;
    font-weight: 800;
    color: #14213D;
    background-color: rgb(221, 221, 221);
    width: 60px;
    height: 27px;
    padding-bottom: 2px;
    border: solid 2px #14213D;
    border-top-left-radius: 25% 50%;
    border-bottom-left-radius: 25% 50%;
    border-top-right-radius: 25% 50%;
    border-bottom-right-radius: 25% 50%;
}
.inputs-is-carrito input{
    width: 140px;
    height: 25px;
    background: #ffffff;
    border-radius: 5px;
    border: solid 2px rgb(190, 190, 190);;
    font-size: 12px;
    padding-left: 5px;
    margin-right: 5%;
}
/* Fin Estilos Carrito de Compras--------------------------------------------------- */
/* Footer--------------------------------------------------------------------------- */ 
footer{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #FCA311;
    height: 27px;
    color: white;
    font-size: 12px;
    padding-right: 5px;
    padding-bottom: 2px;
}
footer .logofooter{
    display: none;
}
footer img{
    width: 15px;
}
footer .footer-center{
    display: none;
}
.main-nav-bar{
    display:none;   
} 
.HowtoOrder{
    display: none;
}
.clientes {
    display: none;
}
.lo-que-dicen {
    display: none;
}
/*------------------------------------ Version Tablet ---------------------------------------- */
@media (min-width: 769px){
 
.carrito {
    display: none;
}

    .burger{
        display: none;
    }
    .main-nav-bar{
        display: flex; 
        text-decoration: none; 
        width: 70%; 
        }  

    .main-nav-bar ul {
        list-style: none;
        font-size: 14px;
    }
    .main-nav-bar .izq{
        width: 50%;
        font-size: 12px;
    } 
    .main-nav-bar .der{
        width: 50%;
        font-size: 12px;
    }  

    .right-navbar i {
        margin-left: 5px;
    }

    .main-nav-bar .right-navbar, .left-navbar{
        display: flex;
        justify-content: space-around;
        margin-left: 25px;
    }

    .lista {
        width: 60%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    

    .HowtoOrder {
        width: 50%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        margin-bottom: 40px;
    }
    .text-how-to-order{
        font-size: 12px;
        width: 85px;
        margin: auto;
    }
    .HowtoOrder i{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #14213D; 
        color: white;
        text-align: center;
        padding-top: 15px;
    }

    .HowtoOrder div{
        text-align: center;
        width: 25%;
    }
    .HowtoOrder div .numbers{
        width: 30px;
        height: 30px;
        background-color: #FCA311;
        border-radius: 50%;
        margin: auto;
        padding-top: 5px;
        position: relative;
        top: 8px;
    }

    .puntos {
        color: #FCA311;
        margin: auto;
        position: static;
        bottom: 15px;
    }

    .lo-que-dicen {
        display: block;
        color: #FCA311;
        padding-left: 20px; 
        font-size: 18px;
    }

    main .clientes {
        display: flex;
        justify-content: center;
    }
    .user-name {
        font-size: 30px;
    }
    main section .opiniones {
        display: flex;
        flex-direction: column;
        border: 1px #c5c5c5 solid;
        width: 350px;
        height: 200px;
        margin: 20px 30px;
    }
    .user-completo{
        display:flex;
    }
    .nombre-y-servicio{
        display: flex;
        flex-direction: column;
    }
    main section .user-name p {
        color: #000000;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 2px;
    }
    main section .servicio-contratado p {
        color: #000000;
        font-size: 12px;
        margin-top: 0px;
        margin-bottom: 5px;
    }

    main section .opiniones .user i {
        color: #FCA311;
        font-size: 60px;
        padding: 10px;
    }
    main section .opiniones .puntaje{
        padding-left: 10px;
    }
    main section .opiniones .puntaje i {
        color: #FCA311;
        font-size: 15px;
    }
    main section .comentario{
        margin-top: 5px;
    }
    main section .comentario p{
        font-size: 12px;
        color: black;
        text-align: justify;
    }



    footer{
        height: 15vh;   
    }
    footer div{
        width: 33%;
    }
    footer .logofooter{
        display: flex;
        width: 35%;
    }
    footer .footer-left{
        height: 100%;
        text-align: center;
        padding-top: 25px;
    }    
    footer .footer-left img{
        margin: auto;
    }
    footer .footer-center{
        display: block;
        height: 100%;
        text-align: center;
        padding-top: 25px;
    }
    footer .footer-right{
        height: 100%;
        text-align: center;
        padding-top: 25px;
    }
    footer .footer-right img{
        width: 10%;
        margin: 10px;
    }
}