<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b16efeb3be.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../css/styles.css">
    <title>GoService-Admini</title>
</head>
<body>
    <%- include('./partials/header')%>
    <main class="mainAdmin">
        <h1>Administrador de productos</h1>
        <a class="addProduct" href="/newProduct"><i class="fas fa-folder-plus"></i> Agregar nuevo Producto</a></p>
        <a class="editProduct" href="/editProduct"><i class="fas fa-user-edit"></i> Editar Producto</a></p>
       
       
        <table class="AdminProducts-plomeria">
            <caption>Servicios de Plomería</caption>
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Borrar</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <table class="AdminProducts-electricidad">
            <caption>Servicios Eléctricos</caption>
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Borrar</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <table class="AdminProducts-electricidad">
            <caption>Servicios de Aseo</caption>
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Borrar</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </main>
    <%- include('./partials/footer')%>
</body>
</html>