<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b16efeb3be.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../css/styles.css">
    <title>Cómo funciona</title>
</head>

<body>

    <%- include('./partials/header')%>
    <main class="mainBlog">
        <section>
            <h1>Este es el blog de GoService</h1>
        </section>
        <section>
            <p>
                ¡Aquí encontrarás información de valor relacionada con los cuidados del hogar y mucho más!
            </p>
        </section>
    </main>

    <%- include('./partials/footer')%>

</body>

</html>