<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b16efeb3be.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="icon" href="/images/headIcon.ico">
    <title>GoService</title>
</head>

<body>

    <%- include('./partials/header')%>
    <main>
        <section>
            <article class="banner">
                <div class="banner-izq">
                    <i class="fas fa-chevron-left"></i>
                </div>
                <div class="banner-center">
                    <img src="/images/banner.jpg" alt="">
                </div>
                <div class="banner-der">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </article>
        </section>
        <h1>Nuestros Servicios</h1>
        <section class="HowtoOrder">
            <div class="step1">
                <p class="numbers">1</p>
                <i class="far fa-hand-pointer"></i>
                <p class="text-how-to-order">Elige tu servicio</p>
            </div>
            <p class="puntos">....................................</p>
            <div class="step2">
                <p class="numbers">2</p>
                <i class="fas fa-calendar-week"></i>
                <p class="text-how-to-order">Agenda y paga online</p>
            </div>
            <p class="puntos">....................................</p>
            <div class="step3">
                <p class="numbers">3</p>
                <i class="fas fa-clipboard-check"></i>
                <p class="text-how-to-order">Confirmanos tu servicio</p>
            </div>
            <p class="puntos">....................................</p>
            <div class="step4">
                <p class="numbers">4</p>
                <i class="fas fa-hands-helping"></i>
                <p class="text-how-to-order">Disfuta tu servicio</p>
            </div>
        </section>
        <section class="lista">
            <article class="servicios">
                <a href="/productDetailPlomeria"><i class="fas fa-faucet"></i></a>
                <p>Plomería</p>
            </article>
            <article class="servicios">
                <a href="/productDetailElectricidad"><i class="fas fa-plug"></i></a>                
                <p>Electricidad</p>
            </article>
            <article class="servicios">
                <a href="/productDetailAseo"><i class="fas fa-hand-sparkles"></i></a>                
                <p>Limpieza</p>
            </article>
        </section>
        <h2 class="lo-que-dicen">Lo que dicen nuestros clientes</h2>
        <section class="clientes">
            <article class="opiniones">
                <div class="user-completo">
                    <div class="user">
                        <i class="far fa-user"></i>
                    </div>
                    <div class="nombre-y-servicio">
                        <div class="user-name">
                            <p>Juan Camilo</p>
                        </div>
                        <div class="servicio-contratado">
                            <p>Aseo</p>
                        </div>
                        <div class="puntaje">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>    
                        </div>
                    </div>
                </div>
                <div class="comentario">
                    <p>Excelente servicio, me gusto mucho el servicio ♥</p>
                </div>
            </article>
            <article class="opiniones">
                <div class="user-completo">
                    <div class="user">
                        <i class="far fa-user"></i>
                    </div>
                    <div class="nombre-y-servicio">
                        <div class="user-name">
                            <p>Jorge</p>
                        </div>
                        <div class="servicio-contratado">
                            <p>Plomería</p>
                        </div>
                        <div class="puntaje">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>    
                        </div>
                    </div>
                </div>
                <div class="comentario">
                    <p>Soy fan #1 de GoService, estoy contratando todo ¡Gracias!</p>
                </div>
            </article>
            <article class="opiniones">
                <div class="user-completo">
                    <div class="user">
                        <i class="far fa-user"></i>
                    </div>
                    <div class="nombre-y-servicio">
                        <div class="user-name">
                            <p>Nicolás</p>
                        </div>
                        <div class="servicio-contratado">
                            <p>Electricista</p>
                        </div>
                        <div class="puntaje">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>  
                        </div>
                    </div>
                </div>
                <div class="comentario">
                    <p>Extraordinario, fueron personas muy laboriosas y cuidadosas de hacer un gran trabajo!
                        Especialmente Marisol. Mil gracias.</p>
                </div>
            </article>
        </section>
    </main>

    <%- include('./partials/footer')%>

</body>

</html>