<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b16efeb3be.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/images/headIcon.ico">
    <title>Bienvenido de nuevo</title>
</head>
<body class="loginform">

    <main class="main-login">
        <div class="main-left-login">
            <img class="bigimage" src="/images/cleaning.jpg">
        </div>
        <div class="main-right-login">
            <div class=logo>
                <a href="/"><img id="logo-login" src="/images/combinado.png"></a>
            </div>
            <p class="title">Bienvenido de vuelta</p>
            <div class="login-section">
                <form action="/login" class="login-container" method="POST">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Ingresa tu email" class = "form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"/>
                    <p class="feedback">
                        <% if (locals.errors && errors.email) { %>
                            <div class= "text-danger">
                                <%= errors.email.msg  %> 
                            </div>
                           <% } %>
                    </p>


                    <div class="password">
                        <p id="p-login" class="linkpassrecuperation"><a href="#">¿Has olvidado tu contraseña?</a></p>
                        <label for="password" class="lbpass">Contraseña</label>
                    </div> 
                    <input type="password" name="password" id="password" placeholder="Ingresa Tu contraseña" class = "form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"/>
                    <p class="feedback">
                        <% if (locals.errors && errors.password) { %>
                            <div class= "text-danger">
                                <%= errors.password.msg  %> 
                            </div>
                           <% } %>
                    </p>
                    <button type="submit" class="form-btn">Iniciar sesión</button>
                </form>
            </div>
            <p class="foot">¿Todavia no tienes una cuenta?<a class="linkregister" href="/register"> Crea una ahora</a></p>
        </div>
    </main>
    <script src="/js/loginValidation.js"></script>
</body>
</html>