<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b16efeb3be.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Carrito de compras</title>
</head>

<body>
    <%- include('./partials/header')%>
    <main>
        <h1 id="servicios-añadidos">Servicios añadidos</h1>
        <section class="resumen-carrito">
            <article class="carrito-superior">
                <input type="text" class="horas" placeholder="Horas a contratar" required>
                <div class="valor-servicio-con-iva">
                    <p class="valor-servicio">$XX,XXX</p>
                    <p class="iva">IVA incluido</p>
                </div>
                <p class="titulo-arriba-carrito">Servicio:</p>
                <p class="texto-arriba-carrito">Plomería</p>
                <p class="titulo-arriba-carrito">Dirección:</p>
                <p class="texto-arriba-carrito">Calle xx # xx - xx</p>
                <p class="titulo-arriba-carrito">Fecha del servicio:</p>
                <div class="caja-fecha">
                    <p class="texto-arriba-carrito">dd/mm/yyyy</p>
                    <p class="hmm">h:mm</p>
                </div>
            </article>
            <article class="carrito-inferior">
                <div class="inputs-is-carrito">
                    <input type="text" placeholder="Código de descuento" required>
                    <button type="submit">APLICAR</button>
                </div>
                <div class="total-carrito">
                    <p class="total-a-pagar">Total a pagar:</p>
                    <div class="valor-servicio-con-iva-abajo">
                        <p class="valor-servicio">$XX,XXX</p>
                        <p class="iva">IVA incluido</p>
                    </div>
                </div>
                <div class="inputs-ii-carrito">
                    <button type="submit" id="continuar-pago">CONTINUAR CON EL PAGO</button>
                    <button type="submit" id="seguir-comprando">SEGUIR COMPRANDO</button>
                    <button type="submit" id="eliminar">ELIMINAR</button>
                </div>
            </article>
        </section>
    </main>
    <%- include('./partials/footer')%>
</body>

</html>