<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b16efeb3be.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Servicios de Electricista</title>
</head>

<body>
    <%- include('./partials/header')%>
    <main>
        <section>
            <article class="banner">
                <div class="banner-izq">
                    <i class="fas fa-chevron-left"></i>
                </div>
                <div class="banner-center">
                    <img src="/images/banner.jpg" alt="">
                </div>
                <div class="banner-der">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </article>
        </section>
        <h1>ELECTRICIDAD</h1>
        <%- include('./partials/productDetailSection')%>
        <section class="includes">
            <article>
                <h3>Persona 1</h3>
                <img src="/img/electricista1.jpg" alt="Fontanero">
                <p>Electricista en la ciudad de Medellin, Pongo mi experiencia y conocimiento como electricista, cuento con experiencia en todo tipo de arreglos en unidades de vivienda o construcciones de escala mayor, como pueden ser oficinas empresariales. Hago cualquier tipo de trabajo relacionado con la electrónica</p>
                <p>Valor por hora : $60.000</p>
                <button type="submit">Cotizar Servicio</button>
            </article>
            <article>
                <h3>Persona 2</h3>
                <img src="/img/electricista1.jpg" alt="Fontanero">
                <p>Electricista en la ciudad de Medellin, Pongo mi experiencia y conocimiento como electricista, cuento con experiencia en todo tipo de arreglos en unidades de vivienda o construcciones de escala mayor, como pueden ser oficinas empresariales. Hago cualquier tipo de trabajo relacionado con la electrónica</p>
                <p>Valor por hora : $45.000</p>
                <button type="submit">Cotizar Servicio</button>
            </article>
            <article>
                <h3>Persona 3</h3>
                <img src="/img/electricista1.jpg" alt="Fontanero">
                <p>Electricista en la ciudad de Medellin, Pongo mi experiencia y conocimiento como electricista, cuento con experiencia en todo tipo de arreglos en unidades de vivienda o construcciones de escala mayor, como pueden ser oficinas empresariales. Hago cualquier tipo de trabajo relacionado con la electrónica</p>
                <p>Valor por hora : $50.000</p>
                <button type="submit">Cotizar Servicio</button>
            </article>
        </section>
        <section class="button-add">
            <button type="submit" class="add">AGREGAR AL CARRITO</button>
        </section>
    </main>
    <%- include('./partials/footer')%>
</body>

</html>