<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b16efeb3be.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Servicios de Plomería</title>
</head>

<body>
    <%- include('./partials/header')%>
    <main>
        <%- include('./partials/banner')%>
        <h1>PLOMERIA</h1>
        <%- include('./partials/productDetailSection')%>
        <section class="includes">
            <article>
                <h3>Persona 1</h3>
                <img src="/img/fontanero1.png" alt="Fontanero">
                <p>Fontanero en la ciudad de Medellin, Pongo mi experiencia y conocimiento al servicio de la plomeria, Cuento con experiencia en baños, duchas y cocinas, hago cualquier tipo de trabajo relacionado con la fontaneria</p>
                <p>Valor por hora : $60.000</p>
                <button type="submit">Cotizar Servicio</button>
            </article>
            <article>
                <h3>Persona 2</h3>
                <img src="/img/plomera2.jpg" alt="Fontanero">
                <p>Fontanero en la ciudad de Medellin, Pongo mi experiencia y conocimiento al servicio de la plomeria, Cuento con experiencia en baños, duchas y cocinas, hago cualquier tipo de trabajo relacionado con la fontaneria</p>
                <p>Valor por hora : $45.000</p>
                <button type="submit">Cotizar Servicio</button>
            </article>
            <article>
                <h3>Persona 3</h3>
                <img src="/img/plomero3.jpg" alt="Fontanero">
                <p>Fontanero en la ciudad de Medellin, Pongo mi experiencia y conocimiento al servicio de la plomeria, Cuento con experiencia en baños, duchas y cocinas, hago cualquier tipo de trabajo relacionado con la fontaneria</p>
                <p>Valor por hora : $50.000</p>
                <button type="submit">Cotizar Servicio</button>
            </article>
        </section>
        <section class="button-add">
            <button type="submit" class="add">Agregar al carrito</button>
        </section>
    </main>
    <%- include('./partials/footer')%>
</body>

</html>