<section>
    <article class="banner">
        <div class="banner-izq">
            <i class="fas fa-chevron-left"></i>
        </div>
        <div class="banner-center">
            <img src="/images/banner.jpg" alt="">
        </div>
        <div class="banner-der">
            <i class="fas fa-chevron-right"></i>
        </div>
    </article>
</section>