<footer>
    <div class="footer-left">
        <img class="logofooter" src="/images/blanco.png">
        <p id="copy">Todos los derechos reservados</p>
    </div>
    <div class="footer-center">
        <p>¿Necesitas ayuda?</p>
        <p>Comunícate desde tu celular con nuestra</p>
        <p>mesa de soporte al 123 444 54678</p>
    </div>
    <div class="footer-right">
        <a href="https://github.com/JorgePazA"><img src="/images/gitLogo.png" /></a>
        <a href="https://instagram.com"><img src="/images/instagramLogo.png" /></a>
        <a href="https://twiter.com"><img src="/images/twiterLogo.png" /></a>
    </div>
</footer>